@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 16, 16;
}

body {
  color      : rgb(var(--foreground-rgb));
  background : rgb(var(--background-rgb));
  font-family: 'calluna-sans', Inter, sans-serif;
}

.content-mask-b {
  mask-image: linear-gradient(180deg, #000 60%, transparent)
}